{% extends "CoreBundle::adminLayout.html.twig" %}

{# rewrite the sub_title block to tell the visitor where he is #}
{% block sub_title %}{{ parent()}} Administration{% endblock %}

{% block main %}
    <h1>Créer un module</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Créer" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('admin_module_index') }}">Retour à la liste des modules</a>
        </li>
    </ul>
{% endblock %}
