{% extends 'base.html.twig' %}

{% block body %}
    <h1>Paths list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Duration</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for path in paths %}
            <tr>
                <td><a href="{{ path('admin_path_show', { 'id': path.id }) }}">{{ path.id }}</a></td>
                <td>{{ path.title }}</td>
                <td>{{ path.duration }}</td>
                <td>{{ path.description }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_path_show', { 'id': path.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_path_edit', { 'id': path.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_path_new') }}">Create a new path</a>
        </li>
    </ul>
{% endblock %}
