<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
    <link rel="stylesheet" href="{{ asset('font-awesome/css/font-awesome.min.css') }}">
  </head>
  <body>

    <!-- Header with logo on the left and main title on the right, the subtitle tells the user where he is -->

    <header class="jumbotron jumbotron-fluid mb-0 lightBlue tWhite">
      <section class="container text-center">
        <h1 class="display-5">Code toujours tu m'intéresses</h1>
        <p class="lead">
          {% block sub_title %}
            {% if app.user.username is defined %}
              {{ app.user.username }},
            {% endif %}
            vous êtes sur :
          {% endblock %}
        </p>
      </section>
    </header>

      <!-- General block with menu and main content -->
      {% block general %}{% endblock %}

    <!-- Footer with random text -->
    <div class="jumbotron jumbotron-fluid darkBlue tWhite mb-0">
      <div class="container text-center">
        <h4>Une création <a href="www.thomas-gossart.fr">Thomas Gossart</a> pour les apprenants de Simplon Roubaix</h4>
      </div>
    </div>

    <script src="{{ asset('JS/jquery.js') }}"></script>
    <script src="{{ asset('JS/bootstrap.min.js') }}"></script>
    <script src="{{ asset('JS/jquery-ui/jquery-ui.js') }}"></script>
    <script src="{{ asset('JS/main.js') }}"></script>
    {% block javascript %}{% endblock %}
  </body>
</html>
