{% extends "CoreBundle::layout.html.twig" %}

{# rewrite the sub_title block to tell the visitor where he is #}
{% block sub_title %}{{ parent()}} Index{% endblock %}

{% block main %}

  <h2>Voici les articles de la category : {{ categoryArticles[0].name }}</h2>

  <div class="row">
    {% for article in categoryArticles[0].articles %}
    <div class="col col-sm-6 col-lg-4">
      <div class="card my-3">
        <img class="card-img-top img-fluid" src="{% if article.image.path is defined %} {{ asset(article.image.fullPath) }} {% endif %}" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">{{ article.title }} || {{ article.date|date('d-m-Y') }}</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="{{ path('single', {"id": article.id}) }}" class="btn cardButton tlightBlue">Voir l'article</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

{% endblock %}
