{% extends "CoreBundle::layout.html.twig" %}

{# rewrite the sub_title block to tell the visitor where he is #}
{% block sub_title %}{{ parent()}} Modules{% endblock %}

{% block main %}
<h2 class="mb-3">Modules du parcours {{ path.title }}</h2>
<div class="row">
  {% for module in modules %}
    <div class="col col-sm-6 col-lg-4">
      <article class="square lightBlue tWhite py-2 my-2">
        <div class="container">
          <h3 class="pathTitle text-center">{{ module.title }}</h3>
          <div>
            <div class="my-2">
              <span> <i class="fa fa-clock-o" aria-hidden="true"></i> {{ module.duration }}H | </span>
              <span> <i class="fa fa-bolt" aria-hidden="true"></i> Difficulté :
                {# loop to display the goog number of star according to the difficulty of the module#}
                {% for i in 1.. module.difficulty %}
                  <i class="fa fa-star" aria-hidden="true"></i>
                {% endfor %}
                 | </span>
            </div>
            <div class="my-2">
              <span> <i class="fa fa-puzzle-piece" aria-hidden="true"></i> Articles : {{ module.articles.count }} | </span>
              <span class="float-right"><a href="{{ path('moduleArticles', {"title": module.title})}}">Démarrer</a></span>
            </div>
          </div>
        </div>
      </article>
    </div>
  {% endfor %}
</div>

{% endblock %}
