{% extends 'base.html.twig' %}

{% block body %}
    <h1>Modules list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Duration</th>
                <th>Difficulty</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for module in modules %}
            <tr>
                <td><a href="{{ path('admin_module_show', { 'id': module.id }) }}">{{ module.id }}</a></td>
                <td>{{ module.title }}</td>
                <td>{{ module.duration }}</td>
                <td>{{ module.difficulty }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_module_show', { 'id': module.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_module_edit', { 'id': module.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_module_new') }}">Create a new module</a>
        </li>
    </ul>
{% endblock %}
