{% extends "CoreBundle::adminLayout.html.twig" %}

{# rewrite the sub_title block to tell the visitor where he is #}
{% block sub_title %}{{ parent()}} Administration{% endblock %}

{% block main %}
  <a href="{{ path('admin_test_new') }}"><i class="fa fa-plus fa-2x" aria-hidden="true"></i></a>
    <table class="table table-striped mt-3">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for test in tests %}
            <tr>
                <td>{{ test.id }}</td>
                <td>{{ test.title }}</td>
                <td class="adminActions">
                  <a class="btn darkBlue tWhite mx-1 blueReverse" href="{{ path('admin_test_show', {"id" : test.id }) }}"><i class="fa fa-search" aria-hidden="true"></i></a>
                  <a class="btn darkBlue tWhite mx-1" href="{{ path('admin_test_edit', {"id" : test.id }) }}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
