{% extends "CoreBundle::adminLayout.html.twig" %}

{# rewrite the sub_title block to tell the visitor where he is #}
{% block sub_title %}{{ parent()}} Administration - Votre article{% endblock %}

{% block main %}
    <h1>Modification de l'article</h1>

    {{ form_start(edit_form) }}
      {{ form_errors(edit_form) }}

      {{ form_row(edit_form.title) }}
      {{ form_row(edit_form.content) }}
      {{ form_row(edit_form.date) }}
      <p>Image actuelle : </p>
      {% if article.image.path is defined %}
        <img class="form-current-img img-fluid" src="{{ asset(article.image.fullPath) }}" alt="Card image cap">
      {% endif %}
      {{ form_row(edit_form.image) }}
      {{ form_row(edit_form.categories) }}
      <input type="submit" value="Modifier" />
    {{ form_end(edit_form) }}


    <ul>
        <li>
            <a href="{{ path('admin_article_index') }}">Retour aux articles</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
