{% extends "CoreBundle::adminLayout.html.twig" %}

{# rewrite the sub_title block to tell the visitor where he is #}
{% block sub_title %}{{ parent()}} Administration - Ajout{% endblock %}

{% block main %}
    <h2>Ajout d'un article</h2>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Ajouter l'article" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('admin_article_index') }}">Retour à la liste des articles</a>
        </li>
    </ul>
{% endblock %}
